node_modules/
.expo/
dist/
web-build/
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
npm-debug.*
yarn-debug.*
yarn-error.*
.env
.env.local
.env.production
GoogleService-Info.plist
.DS_Store
Thumbs.db
*.log
